body {
    margin: 0;
    background: black;
    font-family: "Times New Roman", Times, serif;
}


nav {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    padding: 0 30px;
    background: rgb(41, 41, 41);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: rgb(0, 162, 255);
}

nav section {
    display: flex;
    align-items: center;
}

.logo {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    cursor: pointer;
}


h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 0;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 100px 100px;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 30%;
}

label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}

textarea {
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    resize: none;
    outline: none;
}



.submit {
    background: black;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 12px 24px;
    font-size: 16px;
}

.submit:hover {
    background: greenyellow;
    color: black;
    transform: scale(1.05);
}


#successMsg {
    opacity: 0;
    visibility: hidden;
    color: lightgreen;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;

    transition: opacity 1s ease, visibility 1s ease;
}

#successMsg.show {
    opacity: 1;
    visibility: visible;
}



@media (max-width: 768px) {

    
    nav {
        width: 95%;
        height: auto;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px 12px;
        font-size: 14px;
    }

    nav section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    .logo {
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }

   
    h1 {
        font-size: 26px;
        padding-top: 30px;
        text-align: center;
    }

   
    .main {
        padding: 20px;
        align-items: flex-start;
    }

   
    form {
        width: 100%;
        height: auto;
        padding-right: 20px;
      
    }

    label {
        font-size: 14px;
    }

    input,
    textarea {
        width: 100%;
        font-size: 14px;
    }

    textarea {
        height: 90px;
    }

    /* BUTTON */
    .submit {
        width: 100%;
        padding: 12px;
        font-size: 15px;
    }

    /* SUCCESS MESSAGE */
    #successMsg {
        font-size: 14px;
    }
}
