body {
    margin: 0;
    background: black;
    font-family: "Times New Roman", Times, serif;
}

nav {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    padding: 0 30px;
    background: rgb(41, 41, 41);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: rgb(0, 162, 255);
}

.logo {
    width: 22px;
    height: 22px;
    margin-left: 15px;
}

/* FIXED: Centering the form properly */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 100px 100px;
}

h1,
label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 30%;
}

textarea {
    width: auto;
    height: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 40px;
}

.submit {
    background: black;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
}

.submit:hover {
    background: greenyellow;
    color: black;
    transform: scale(1.05);
}

#successMsg {
    display: flex;          
    color: lightgreen;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
    font-size: 16px;
}
