body {
    background: black;
    margin: 0;
}


nav {
    background: rgb(41, 41, 41);
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
    border-radius: 6px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 25px;
}

nav a:hover {
    color: rgb(0, 162, 255);
}

nav section {
    display: flex;
    align-items: center;
}

.logo {
    height: 22px;
    width: 22px;
    margin-left: 15px;
    cursor: pointer;
}



.main {
    display: flex;
    justify-content: center;
    padding: 50px;
}



object {
    width: 80%;
    height: 800px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}



@media (max-width: 768px) {


    nav {
        width: 95%;
        height: auto;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px 12px;
        font-size: 14px;
    }

    nav section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    .logo {
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }


    .main {
        padding: 15px;
    }

    object {
        width: 100%;
        height: 500px;
        border-radius: 6px;
    }
}
