* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: black;
    color: white;
    font-family: "Times New Roman", Times, serif;
    overflow-x: hidden;

}


nav {
    background: rgb(41, 41, 41);
    width: 80%;
    min-height: 50px;
    margin:auto;
    padding: 10px 20px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    white-space: nowrap;
}

nav a:hover {
    color: rgb(0, 162, 255);
}

nav section {
    display: flex;
    gap: 12px;
}

.logo {
    width: 22px;
    height: 22px;
    cursor: pointer;
}


.skills {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}


.intro {
    width: 60%;
    margin: 0 auto;      
    text-align: center; 
}

.box-container {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.box {
    width: 25%;
    min-width: 220px;
    height: 150px;

    background: white;
    color: black;
    border-radius: 15px;
    border: 4px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    transition: all 0.3s ease;
}

.box:hover {
    background: rgb(134, 252, 95);
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 768px) {

    nav {
        width: 95%;
        justify-content: center;
        text-align: center;
    }

    nav a {
        margin-right: 12px;
        font-size: 14px;
    }

    nav section {
        width: 100%;
        justify-content: center;
        margin-top: 5px;
    }

    .intro {
       width: 60%;
    margin: 0 auto;      
    text-align: center; 
    }

    .box {
        width: 45%;
    }
}


@media (max-width: 480px) {

    .skills h2 {
        font-size: 26px;
    }

    .box {
        width: 90%;
    }
}
